.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.espacio{
    margin-top: 235px;
    margin-bottom: 35px;
}

.fecha{
    max-width: 27%;
    margin-left: 23%;
}

.titulo{
    margin-top: 3%;
}

.redondeo{
    border-radius: 5%;
    width: 120%;
    right: 10%;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
}

.contenedor{
    margin-top: 20%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}