nav{
    background: #1E1E2C;
    padding-top: 0px;
    padding-bottom: 0px;
}

.white-text{
    color: white !important;
    padding-top: 21px;
    padding-bottom: 21px;
}

.white-title-text{
    color: white !important;
    font-weight: bold;
    font-size: 25px;
}

.white-text:hover{
    background-color: #2d2d44;
    color: #33e1ed !important;
    font-weight: bold;
    border-radius: 10%
}

.white-text:focus{
    background-color: #33e1ed;
    color: white !important;
    font-weight: bold;
    border-radius: 10%
}
